/* Estilos para el Navbar */
.navbar {
  background-color: #0e6b64;
}

.btn-navbar {
  border: 1px solid #000;
  color: #000;
}

.btn-navbar:hover {
  color: #fff;
  background-color: #00a884;
}

/* Estilos para los formularios <Login> y <Signup> */

.container {
  max-width: 500px;
}

.card {
  background-color: #2c2f36;
}

.form-control {
  background-color: #515963;
  border: none;
  color: #fff;
}

.form-control::placeholder {
  color: #fff;
}

.btn-registro {
  background-color: #0e6b64;
  border: 1px solid #0e6b64;
  color: #fff;
}

.btn-registro:hover {
  background-color: #00a884;
  border: 1px solid #00a884;
  color: #fff;
}

.btn-iniciar_sesion {
  border: 1px solid #0e6b64;
  color: #0e6b64;
  background-color: #fff;
}

.btn-iniciar_sesion:hover {
  background-color: #00a884;
  border: 1px solid #00a884;
  color: #fff;
}
